<div>
  <main role="main" class="inner cover home text-center">
    <h1 class="cover-heading">Controle seus trabalhos</h1>
    <p class="lead">
      Conheça a nova ferramenta de controle de trabalhos, onde você poderá
      gerenciar todas as empresas e trabalhos executados de um jeito super
      fácil, comece agora mesmo clicando no link abaixo.
    </p>
    <p class="lead">
      <a href="/registrar" class="btn btn-lg btn-secondary">Registrar</a>
    </p>
  </main>
  <footer class="footer">
    <div class="inner">
      © 2020 Copyright:
      <a href="#"> Ademir Larini Junior</a>
    </div>
  </footer>
</div>
